*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui;
}

.image-board__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 200px 300px;
  gap: 1rem;
  padding: 1rem;
  grid-template-areas:
    "banana pineapple melon"
    "applepie tomatoes cauliflower";
}

.image-board__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.image-board__image--1 {
  grid-area: banana;
}

.image-board__image--2 {
  grid-area: applepie;
}

.image-board__image--3 {
  grid-area: melon;
}

.image-board__image--4 {
  grid-area: pineapple;
}

.image-board__image--5 {
  grid-area: tomatoes;
}

.image-board__image--6 {
  grid-area: cauliflower;
}
