:root {
  --body-bg: #fddcd2;

  --header-bg: #000000;
  --header-text: #eb78b7;

  --main-bg: ##fddcd2;
  --main-text: #000000;
  --main-title-bg: #e98ecb;

  --card-bg: #07e992;
  --card-text: #201e1d;
}
